.platformio-ide-terminal .xterm {
  background-color: @syntax-background-color ;
  color: @syntax-text-color;
  ::selection {
    background-color: lighten(@syntax-background-color, 50%);
  }
  .terminal-cursor {
    background-color: @syntax-cursor-color;
  }
}
